body {
	margin: 0;
}

.background {
	background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
		url(./src/background.png);
	padding-top: 50px;
	padding-left: 100px;
	padding-bottom: 120px;
}

#logo {
	width: 10%;
}

#title {
	margin-top: 200px;
	color: #fff;
	font-family: Arial;
	font-size: 75px;
	font-weight: bold;
	letter-spacing: 5px;
}

#title-big {
	font-family: Arial;
	font-size: 200px;
	font-weight: bold;
	color: #eb1c22;
	letter-spacing: 5px;
}

.link {
	display: block;
	color: #fff;
	font-family: Arial;
	font-size: 20px;
	margin-top: 30px;
	margin-left: 10px;
	letter-spacing: 1px;
}

.link svg {
	fill: white;
	width: 15px;
	transition: all 0.3s ease-in-out;
	vertical-align: bottom;
}
.link:hover svg {
	margin-left: 15px;
}
.section-title{
	background-color: #fff;
	margin: 100px 0 100px 0;
	text-align: center;
	font-family: Arial;
}
.card{
	display:inline-block;
margin-left:10%;
margin-bottom: 50px;
width:20%;
padding-bottom: 20px;

}
.card-img{
	display: block;
	width:100%;
}
.card-title{
	margin:20px 0 20px 0;
	text-align: center;
	font-size: 24px;
}
.card-btn{
	display:block;
	height:5px 0;
	widows: 70%;
	margin:auto;
}